<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoxin.feng">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.xiaoxin.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaoxin.ui.WelComeActivity"
            android:label="欢迎界面"
            >
            <intent-filter>
                <action android:name="com.xiaoxin.ui.openWelCome" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaoxin.dao.SginIn"
            android:label="注册界面"
           >
            <intent-filter>
                <action android:name="com.xiaoxin.dao.addUserAndPwd" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xiaoxin.ui.LookForPwdActivity"
            android:label="找回密码"
            >
            <intent-filter>
                <action android:name="com.xiaoxin.ui.lookForPwd" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
